@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Student>

@{
    Layout = "_Layout";
    var title = " Student";
    ViewData["Title"] = title;
}

<h2>@title</h2>

<h3><a asp-action="Create" class="btn btn-sm btn-secondary">Create</a></h3>
<table class="table table-bordered table-sm table-striped">
    <thead>
        <tr><th>Id</th><th>Name</th><th>Standard</th><th>Medium</th><th>Mobile</th><th>Update</th><th>Delete</th></tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr><td colspan="7" class="text-center">No Model Data</td></tr>
        }
        else
        {
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.StudentId</td>
                    <td>@p.Name</td>
                    <td>@p.Standard</td>
                    <td>@p.Medium</td>
                    <td>@p.Mobile</td>
 
                    <td><a asp-action="Update" asp-route-id="@p.StudentId">Update</a></td>
                    <td>
                        <form asp-action="Delete" method="post" asp-route-id="@p.StudentId">
                            <button>Delete</button>

                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
